<h1>What can I do?</h1>
<div class='slideshow-container'>
    <div class='about-me-slide' style='display: block;'>
        <p>
            I love building cool things, both for automation and creating new toys nobodys imagined before. 
            This has lead me into my career choice as a software developer.<br><br>
            My most proficient languages are Java and JavaScript, but that doesn't mean they're the only languages that I know! 
            I've also played with Python, and SQL. Even if I haven't listed what you're looking for,
            I'm more than confident that I can learn any tool that you need.
        </p>
    </div>
    <div class='about-me-slide' style='display: none;'>
        <p>
            I've also acquired soft skills! Majoring in Chemistry prepared me for academic research, but it also came with soft skills like 
            time management and communication. I've conducted laboratory experiments either independently or in pairs under a 3 or 4 hour time limit. 
            These experiments were vulnerable to unexpected outcomes. As I Investigated these phenomena, my problem solving skills and ability to work under pressure improved because I had to understand what was happening, why it happened and how to resolve it before achieving the proper end results. 
            These experiments always followed up with lab reports where I explained these phenomenons using the data I collected.
        </p>
    </div>
</div>
<a class='prev'>&#10094;</a>
<a class='next'>&#10095;</a>