<div class='col-xs-0 col-sm-2'></div>
<div class='col-xs-12 col-sm-8 border'>
    <h1>Contact</h1>
    <p>
        Get in touch with me!
        Whether you're looking to:
        <br><br>
        hire
        <br>
        recruit
        <br>
        say hello
        <br>
        start a project
        <br>
        play video games
        <br><br>
        I'd love to hear from you.
        <br>
        For all inquires, please send me an email
        <br>
        <img id='email' src='images/email.png' alt='email' width='35%' height='35%'>
        <br><br>
    </p>
    <div id='external-link-buttons'>
        <a href='https://github.com/NormansGithub' target='_blank'>
            <img id='github' class='hvr-pulse-grow' src='images/github.png' alt='github' width='64' height='64'>
        </a>
        <a href='https://ca.linkedin.com/in/norman-li-94bb72111' target='_blank'>
            <img id='linkedin' class='hvr-pulse-grow' src='images/linkedin.png' alt='linkedin' width='64' height='64'>
        </a>
        <a href='Norman Li Resume August 14 2017.pdf' download>
            <img id='resume' class='hvr-pulse-grow' src='images/resume.png' alt='resume' width='59' height='59'>
        </a>
    </div>
    <br>
</div>