<div class='intro-container-inner'>
    <div class='name'><span>Hi I'm Norman</span></div>
    <div class='desc'><span>
        I recently graduated from the University of British Columbia
    </span></div>
    <div class='button-container'>
        <div id='about-me-button' reference='about-me' class='btn'>Skills</div>
        <div id='project-button' reference='projects' class='btn'>Projects</div>
        <div id='contact-button' reference='contact' class='btn'>Contact</div>
    </div>
</div>