<h1>Projects</h1>
<div class='flexslider-static'>
    <ul class='slides'>
        <li>
            <div class='first-project project-toggle project-box' project='mad-weather'>
                <h3 class='project-name' project='mad-weather'>MadWeather</h3>
            </div>
        </li>
        <li>
            <div class='last-project project-toggle project-box' project='ochem-draw'>
                <h3 class='project-name' project='ochem-draw'>oChemDraw</h3>
            </div>
        </li>
    </ul>
</div>
<div id='mad-weather-info' class='project-toggle project-info' project='mad-weather'>
    <p>
        MadWeather automates checking the weather as smoothly as possible.
        Uses the user's location and weekly schedule, it determines it retrieves the weather and notifies the user accordingly to their preferences.
        <br><br>
        This project was split between me and my friend.
        I implemented the events occuring after the user's alarm sets off.
        This included checking the weather online and notifying the user accordingly.
        I also implemented the user interface and added functionality to the buttons on the screen.
        <br><br>
        Check out the code <a href='https://github.com/NormansGithub/MadWeather/' target='_blank'>here</a>
    </p>
</div>
<div id='ochem-draw-info' class='project-toggle project-info' project='ochem-draw'>
    <p>
        oChemDraw is a application simplifying how users draw molecules.
        Instead of drawing out the atoms individually, oChemDraw uses each molecule's unique IUPAC name to identify the features and functional groups present in the molecule.
        <br><br>
        The application was built from scratch using only Java libraries.
        The user input is decomposed into fragments of smaller molecules until they become basic functional groups.
        They are then aligned together to build the original molecule the user had in mind.
        <br><br>
        Check out the code <a href='https://github.com/NormansGithub/oChemDraw/' target='_blank'>here</a>
    </p>
</div>